/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: white;
  width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.header {
  color: white;
  text-align: center;
}
.tab-container {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}
.tabs {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  justify-content: space-around;
  flex-wrap: wrap; /* Allow the buttons to wrap on smaller screens */
}

.tab {
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
}

.tab-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #666;
  border-bottom: 2px solid transparent;
  margin-right: 10px;
  font-size: 16px;
}

.tab-button.active {
  background-color: #2c2c2c;
  color: white;
  font-weight: bold;
}
hr {
  width: 55px;
  border: 0.5px solid #ccc;
  margin: 20px 0;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  gap: 6px;
  height: 6.25rem;
}

.icon-group input {
  flex-grow: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  height: 80%;
}

.bc-icon {
  height: 50px;
  padding: 0;
  margin: 0;
}

.small {
  text-align: center;
}

.selectable {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.selectable.selected {
  border: 2px solid green;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

.form-body {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}
.input-container {
  position: relative;
  margin: 30px 0;
  width: 100%; /* Ensure input container takes full width */
  max-width: 300px; /* Limit max width */
}
input {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  transition: border-color 0.3s ease;
}

.input-container input:focus {
  border-color: #2196f3; /* Blue border on focus */
}
.input-container label {
  position: absolute;
  top: -10px;
  left: 10px;
  background: #fff;
  padding: 0 5px;
  font-size: 14px;
  color: #666;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
}

.form-actions {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #2c2c2c;
  color: white;
  font-size: 16px;
  margin-top: 20px;
}

button:hover {
  opacity: 0.8;
}
