/* Basic Reset */
.refinance-form {
  font-family: Arial, sans-serif;
  background: #cbdceb;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.quetion-font {
  font-size: 14px;
}
.form-container {
  min-height: 600px;
  width: 600px;
  padding: 10px;
  background-color: #fff;
  /* margin: 12px 0px;
  height: 600px;
  width: 600px;
  padding: 20px; */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), -4px 0 8px rgba(0, 0, 0, 0.1),
    4px 0 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1);
}
.refinance-page {
  display: flex;
  flex-direction: column;
}
.next-button:focus {
  outline: none;
  border: none;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  color: white;
  text-align: center;
  margin-bottom: 25px;
  width: 100%;
}
.tab-container {
  display: flex;
  flex-direction: row;
}
.tab-content {
  display: none;
}

.tabs {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  color: white;
  padding: 10px 20px;
}

.tab {
  font-size: 16px;
  color: #aaa;
  cursor: pointer;
}

.inner-tab-button {
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #fff;
  color: #666;
  border-bottom: 2px solid transparent;
  margin-right: 10px;
  font-size: 12px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
}

.inner-tab-button.active {
  background-color: #2c5c8c;
  color: #fff;
  font-weight: bold;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.icon-group {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 6px;
  height: 6.25rem;
}

/*
Make the input field grow to fill the available space in the icon-group
container, while the icon images remain at their natural size.
*/
.icon-group input {
  flex-grow: 1;
}

.icons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
}

.bc-icon {
  height: 50px;
  width: 50px;
  padding: 0;
  margin: 0;
}

.small {
  text-align: center;
}

.selectable {
  border: 2px solid transparent;
  border-radius: 10px;
  padding: 10px;
  margin: 5px;
  cursor: pointer;
}

.selectable.selected {
  border: 2px solid green;
}

h2 {
  font-size: 24px;
  margin-top: 10px;
  color: #333;
}

.form-body {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-direction: column;
  height: fit-content;
}

.input-group {
  margin: 0;
  position: relative;
}

label {
  display: block;
  font-size: 14px;
  color: #333;
}
.input-container {
  position: relative;
  width: 350px;
}
.inner-input-field {
  width: 100%;
  padding: 10px;
  padding-top: 20px; /* Padding to create space for the label */
  font-size: 16px;
  border: 1px solid #ccc;
  color: #5d5d5d;
  font-family: "Arial", sans-serif;
  border-radius: 5px;
  outline-color: #cbdceb;
  transition: all 0.3s ease;
}

.inner-input-field:focus::placeholder {
  color: #aaa; /* Show placeholder on focus */
  font-size: 14px;
}

.floating-label {
  font-weight: lighter;
  position: absolute;
  left: 10px;
  top: 10px;
  color: grey;
  pointer-events: none; /* Make sure the label doesn't interfere with input clicks */
  transition: all 0.3s ease;
}
input:focus + .floating-label,
input:not(:placeholder-shown) + .floating-label {
  top: -10px;
  left: 10px;
  padding: 0 5px;
  font-size: 14px;
  color: #666;
  background: #fff;
  border-color: #2196f3; /* Blue border on focus */
}

.error-message {
  text-align: left;
  color: red;
  font-size: 14px;
}

.next-button {
  position: relative;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #2c5c8c;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  max-width: 100%; /* Ensure the button doesn't exceed container width */
  box-sizing: border-box; /* Include padding and border in element's total width/height */
}
.next-button:hover {
  background-color: #cbdceb;
  color: #2c5c8c;
}
button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .next-button {
    width: 100%;
    position: relative;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #2c5c8c;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer; /* Make button full width in small screens */
  }
}
